---
---

@import "{{ site.theme }}";

header {
  display: none;
}

a {
  text-decoration: underline;
  color: black;
}

a:hover {
  color: #40aae3;
}

td {
  vertical-align: middle;
}

h1 {
  text-align: center;
}

@media only screen and (min-width: 960px) {
  #runs-table+table {
   width:150%;
   margin-left:-25%;
  }
}
