---
---

@import "{{ site.theme }}";

header {
  display: none;
}

a {
  text-decoration: underline;
  color: black;
}

a:hover {
  color: #40aae3;
}

td {
  vertical-align: middle;
}

h1 {
  text-align: center;
}

ul {
  margin-bottom: 0px;
}

.form-change, .nitori-shop {
  color: #339933;
}

.equip-remove, .hakurei-item {
  color: #AA3333;
}

.subclass-add, .magic-reset, .magic-reincarnate {
  color: #770077;
}

.equip-add, .hakurei-shrine {
  color: #DD4A4A;
}

.magic-library {
  color: #AA55AA;
}

.human-village {
  color: #777700;
}

.learn-skill {
  color: #496CE2;
}

@media only screen and (min-width: 960px) {
  #runs-table+table {
   width:150%;
   margin-left:-25%;
  }
}
